{% load static %}


<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.ico" type="image/png">
    <title>Резюме Атласов Н. В.</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!--        portfolio        -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{% static 'css/style-portfoilio.css' %}"> <!-- Gem style -->
    <script src="{% static 'js/modernizr.js"></script> <!-- Modernizr -->
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="{% static '/owlcarousel/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/owlcarousel/css/owl.theme.default.min.css' %}">
    <!-- javascript -->
    <script src="{% static '/owlcarousel/vendors/jquery.min.js' %}"></script>
    <script src="{% static '/owlcarousel/owlcarousel/owl.carousel.js' %}"></script>
</head>

        {% block content %}
        {% endblock %}

    <!-- Optional JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/stellar.js' %}"></script>
    <script src="{% static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
    <script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'vendors/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendors/counter-up/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <!--   portfolio     -->
    <script src="{% static 'js/main.js' %}"></script> <!-- Gem jQuery -->
    <!-- vendors -->
    <script src="{% static '/owlcarousel/vendors/highlight.js' %}"></script>
    <script src="{% static '/owlcarousel/js/app.js' %}"></script>
</body>
</html>