{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<body>
    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="#">Главная</a></li>
                            <li class="nav-item"><a class="nav-link" href="#portfoplio">Портфолио</a></li>
                            <li class="nav-item"><a class="nav-link" href="#certificate">Сертификаты</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="container box_1620">
            <div class="banner_inner d-flex align-items-center">
                <div class="banner_content">
                    <div class="media">
                        <div class="d-flex">
                            <img src="{% static 'img/personal.jpg' %}" alt="">
                        </div>
                        <div class="media-body">
                            <div class="personal_text">
                                <h3>Николай Атласов</h3>
                                <h4>Junior Python Developer</h4>
                                <p></p>
                                <ul class="list basic_info">
                                    <li><a href="#"><i class="lnr lnr-calendar-full"></i> 12 Марта, 1994</a></li>
                                    <li><a href="tel:+79995313666"><i class="lnr lnr-phone-handset"></i> +7 (999) 53-13-666</a></li>
                                    <li><a href="mailto:atlasovnv@yandex.ru"><i class="lnr lnr-envelope"></i>atlasovnv@yandex.ru</a></li>
                                    <li><a href="#"><i class="lnr lnr-home"></i> Санкт-Петербург</a></li>
                                </ul>
                                <ul class="list personal_social">
                                    <li><a href="http://ttttt.me/atlasovnv"><i class="fab fa-telegram-plane"></i></a></li>
                                    <li><a href="https://vk.com/atlasovnv"><i class="fab fa-vk"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/николай-атласов-102563186"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Welcome Area =================-->
    <section class="welcome_area p_120">
        <div class="container">
            <div class="row welcome_inner">
                <div class="col-lg-6">
                    <div class="tools_expert">
                        <div class="skill_main">
                            <div class="skill_item">
                                <h4>Python</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>Flask</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>Django</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>Git</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>JavaScript</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tools_expert">
                        <div class="skill_main">
                            <div class="skill_item">
                                <h4>Linux</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>uWSGI</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>HTML & CSS</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>PostgreSQL</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>Nginx</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Welcome Area =================-->
    <!--================My Tabs Area =================-->
    <section class="mytabs_area p_120">
        <div class="container">
            <div class="tabs_inner">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Мой опыт</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Мое образование</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="list">
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>Сентябрь 2019 — наст. в.</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>Heisen </h4>
                                        <p>Младший программист <br /> Стажировка</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>Июль 2019 - Январь 2020</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>eLama</h4>
                                        <p>Специалист <br />по контекстной рекламе</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <ul class="list">
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>2017 - по наст. время</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>Московский университет <br />имени С.Ю.Витте</h4>
                                        <p>Менеджмент, Маркетинг</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>2019 - по наст. время</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>Geekbrains Mail.ru</h4>
                                        <p>PYTHON-DEVELOPER</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End My Tabs Area =================-->
    <!--================Home Gallery Area =================-->
    <section class="home_gallery_area p_120">
        <div class="cd-gallery-container">
            <nav class="cd-filter">
                <ul>
                    <li class="placeholder">
                        <a data-type="dev" href="#0">Dev</a>
                    <li>
                        <a class="selected" data-type="dev" href="#0">Dev</a>
                    </li>
                    <li>
                        <a data-type="ppc" href="#0">Ppc</a>
                    </li>
                </ul>
            </nav>
            <ul class="cd-gallery cd-container" id="portfoplio">
                <li>
                    <ul class="cd-item-wrapper">
                        <li data-type="dev" class="is-visible">
                            <a class="meow" href="https://github.com/AtlasovNV/adirect"><img clas="gav" src="{% static 'img/portfolio/dev/adirect.jpg' %}" alt="adirect.ml"></a>
                        </li>
                        <li data-type="ppc" class="is-hidden">
                            <a class="meow" href="#"><img clas="gav" src="{% static 'img/portfolio/ppc/analiz.jpg' %}" alt="Кейс"></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="cd-item-wrapper">
                        <li data-type="dev" class="is-visible">
                            <a class="meow" href="https://github.com/AtlasovNV/parsercbr"><img clas="gav" src="{% static 'img/portfolio/dev/cbr.jpg' %}" alt="Парсер"></a>
                        </li>
                        <li data-type="ppc" class="is-hidden">
                            <a class="meow" href="#"><img clas="gav" src="{% static 'img/portfolio/ppc/vrach.jpg' %}" alt="Кейс"></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="cd-item-wrapper">
                        <li data-type="dev" class="is-visible">
                            <a class="meow" href="https://github.com/AtlasovNV/projectADS"><img clas="gav" src="{% static 'img/portfolio/dev/ads.jpg' %}" alt="projectADS"></a>
                        </li>
                        <li data-type="ppc" class="is-hidden">
                            <a class="meow" href="#"><img clas="gav" src="{% static 'img/portfolio/ppc/iPhone.jpg' %}" alt="Кейс"></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="cd-item-wrapper">
                        <li data-type="dev" class="is-visible">
                            <a class="meow" href="https://github.com/AtlasovNV/portfolio"><img clas="gav" src="{% static 'img/portfolio/dev/this.jpg' %}" alt="Web-site-portfolio"></a>
                        </li>
                        <li data-type="ppc" class="is-hidden">
                            <a class="meow" href="#"><img clas="gav" src="{% static 'img/portfolio/ppc/elektropribory.jpg' %}" alt="Кейс"></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="cd-item-wrapper">
                        <li data-type="ppc" class="is-hidden">
                            <a class="meow" href="#"><img clas="gav" src="{% static 'img/portfolio/ppc/handyman.jpg' %}" alt="Кейс"></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="cd-item-wrapper">
                        <li data-type="ppc" class="is-hidden">
                            <a class="meow" href="#"><img clas="gav" src="{% static 'img/portfolio/ppc/pc.jpg' %}" alt="Кейс"></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="cd-item-wrapper">
                        <li data-type="ppc" class="is-hidden">
                            <a class="meow" href="#"><img clas="gav" src="{% static 'img/portfolio/ppc/green.jpg' %}" alt="Кейс"></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="cd-item-wrapper">
                        <li data-type="ppc" class="is-hidden">
                            <a class="meow" href="#"><img clas="gav" src="{% static 'img/portfolio/ppc/sport.jpg' %}" alt="Кейс"></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="cd-item-wrapper">
                        <li data-type="ppc" class="is-hidden">
                            <a class="meow" href="#"><img clas="gav" src="{% static 'img/portfolio/ppc/gnb.jpg' %}" alt="Кейс"></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="cd-item-wrapper">
                        <li data-type="ppc" class="is-hidden">
                            <a class="meow" href="#"><img clas="gav" src="{% static 'img/portfolio/ppc/seo.jpg' %}" alt="Кейс"></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="cd-item-wrapper">
                        <li data-type="ppc" class="is-hidden">
                            <a class="meow" href="#"><img clas="gav" src="{% static 'img/portfolio/ppc/mantis.jpg' %}" alt="Кейс"></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="cd-item-wrapper">
                        <li data-type="ppc" class="is-hidden">
                            <a class="meow" href="#"><img clas="gav" src="{% static 'img/portfolio/ppc/mramor.jpg' %}" alt="Кейс"></a>
                        </li>
                    </ul>
                </li>
            </ul> <!-- cd-gallery -->
        </div> <!-- cd-gallery-container -->
    </section>
    <!--================End Home Gallery Area =================-->
    <section class="feature_area p_120" id="certificate">
        <div class="owl-carousel owl-theme">
            <div class="item"><img class="certdev" src="{% static '/img/certificate/dev/html.jpg' %}" alt=""></div>
            <div class="item"><img class="certdev" src="{% static '/img/certificate/dev/python.jpg' %}" alt=""></div>
            <div class="item"><img class="certdev" src="{% static '/img/certificate/dev/fastpython.jpg' %}" alt=""></div>
            <div class="item"><img class="certdev" src="{% static '/img/certificate/dev/agile.jpg' %}" alt=""></div>
            <div class="item"><img class="certdev" src="{% static '/img/certificate/dev/base.jpg' %}" alt=""></div>
            <div class="item"><img class="certdev" src="{% static '/img/certificate/dev/baseprog.jpg' %}" alt=""></div>
            <div class="item"><img class="certdev" src="{% static '/img/certificate/dev/basepython.jpg' %}" alt=""></div>
            <div class="item"><img class="certppc" src="{% static '/img/certificate/ppc/metrika2020.jpg' %}" alt=""></div>
            <div class="item"><img class="certppc" src="{% static '/img/certificate/ppc/ppc2019.jpg' %}" alt=""></div>
            <div class="item"><img class="certppc" src="{% static '/img/certificate/ppc/analitycs2019.jpg' %}" alt=""></div>
            <div class="item"><img class="certppc" src="{% static '/img/certificate/ppc/ads2019.jpg' %}" alt=""></div>
            <div class="item"><img class="certppc" src="{% static '/img/certificate/ppc/bye2018.jpg' %}" alt=""></div>
            <div class="item"><img class="certppc" src="{% static '/img/certificate/ppc/direct.jpg' %}" alt=""></div>
            <div class="item"><img class="certppc" src="{% static '/img/certificate/ppc/direct2018.jpg' %}" alt=""></div>
            <div class="item"><img class="certppc" src="{% static '/img/certificate/ppc/media2018.jpg' %}" alt=""></div>
            <div class="item"><img class="certppc" src="{% static '/img/certificate/ppc/mobile2018.jpg' %}" alt=""></div>
            <div class="item"><img class="certppc" src="{% static '/img/certificate/ppc/poisk2018.jpg' %}" alt=""></div>
            <div class="item"><img class="certppc" src="{% static '/img/certificate/ppc/video2018.jpg' %}" alt=""></div>
        </div>
        <script>
            $(document).ready(function() {
                var owl = $('.owl-carousel');
                owl.owlCarousel({
                    loop: true,
                    margin: 10,
                    navRewind: false,
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 3
                        },
                        1000: {
                            items: 5
                        }
                    }
                })
            })
        </script>
    </section>
{% endblock %}